- var F = "ABCDEFGHIJKLMNOPQRSTUVWXYZ", ProbNum = 1;
- var str, time, cday, chour, cmin, op, tp;

if (contest && clone == 0)
  - str = getDate(contest.startTime).split(' ');
  - cday = parseInt(contest.len/1440, 10);
  - chour = parseInt(contest.len%1440/60, 10);
  - cmin = contest.len%1440%60;

- if (str && str[1]) time = str[1].split(':');

if (contest && clone == 0)
  - op = 'Edit';
else
  - op = 'Add';

if (clone == 1)
  - tp = 1;
else if (contest)
  - tp = contest.type;
else
  - tp = type;

- var probs;
if (contest)
  - probs = contest.probs;
else
  - probs = [['', '']];

fieldset
  #form
    .row(style="min-height:460px;")
      .col-md-6
        .block.block-info
          .heading= op+' Contest'
          .table-responsive
            table.table.table-bordered.thright(style="background:#fbfbfb;min-width:450px;")
              tr
                th Title
                td
                  input#Title.form-control.input-sm(type="text" value=(contest && clone == 0 ? contest.title : ""))
              tr
                th Begin Time
                td.form-group-sm.form-inline
                  input#datepicker.form-control(type="text" value=(str ? str[0] : "") style="cursor:default!important;")
                  = ' '
                  input#hour.form-control.width-mini(maxlength="2" type="text" value=(time && time[0] ? time[0] : 0))
                  = ' '
                  input#min.form-control.width-mini(maxlength="2" type="text" value=(time && time[1] ? time[1] : 0))
                  = ' : 00'
              tr
                th= 'Length'
                td.form-group-sm.form-inline
                  input#dd.form-control.width-mini(maxlength="2" type="text" value=cday ? cday : 0)
                  = ' 天 '
                  input#hh.form-control.width-mini(maxlength="2" type="text" value=chour >= 0 ? chour : 5)
                  = ' : '
                  input#mm.form-control.width-mini(maxlength="2" type="text" value=cmin ? cmin : 0)
                  = ' : 00'
              if ((!contest && tp != 2) || (contest && (clone == 1 || contest.type != 2)))
                tr
                  th= 'Password'
                  td.form-group-sm
                    input#psw.form-control(type="password" value=(contest && contest.password && clone == 0 ? contest.password : ""))
                    span.text-info= 'Leave blank to make it Public.'
              else
                tr
                  th
                  td(style="position:relative;")
                    label.user-green.radio-inline(for="private" title="暂无")
                      input#private(type="radio" value="1" name="psw" checked=(contest && contest.password ? true : false))
                      | private
                    label.user-blue.radio-inline(for="public" title="Codeforce的注册模式")
                      input#public(type="radio" value="" name="psw" checked=(!contest || !contest.password ? true : false))
                      | public
                    label.user-black.checkbox-inline(for="open_reg" title="比赛正在进行也不关闭注册" style="margin-left:15px;")
                      input#open_reg(type="checkbox" checked=(!contest || contest && contest.open_reg ? true : false))
                      | open register
                tr
                  th= 'Family'
                  td
                    select#family.form-control.input-sm
                      option(value="speed" selected=(family==="speed" ? true : false)) Speed Contest
                      option(value="rating" selected=(family==="rating" ? true : false)) Rating Contest
                      option(value="training" selected=(family==="training" ? true : false)) Training Contest
              tr
                th= 'Penalty'
                td
                  select#penalty.form-control.input-sm
                    - for (var i = 2; i <= 6; ++i)
                      - var isSelected = false;
                      if (contest && contest.penalty === i * 10 || !contest && family === "speed" && i === 4)
                        - isSelected = true;
                      option(value=i*10 selected=isSelected) #{i*10} 分钟/次
              tr
                th= 'Description'
                td
                  textarea#desc.form-control(type="text" rows="5")
                    if (contest && clone == 0)
                      = contest.description
              tr
                th= 'Announcement'
                td
                  textarea#anc.form-control(type="text" rows="5")
                    if (contest && clone == 0)
                      = contest.msg
      .col-md-6
        .block.block-info
          if (!edit)
            .heading
              span.text-warning 由于该Contest已存在提交，故部分不可编辑
          .table-responsive
            table#addprob.table.table-bordered.tdcenter(style="background:#fbfbfb;min-width:500px;")
              thead
                tr.even
                  th(style="width:35px;")
                    if (edit)
                      a#add.img_link.add(title="add" href="javascript:;" style="display:block;")
                  th(style="width:80px;") ProbNum
                  th(style="width:200px;") Alias
                  th(style="width:35px;")
                  th(style="text-align:left;") Title
              tbody
                each p, i in probs
                  tr
                    td
                      if (edit)
                        a.img_link.delete(title="delete" href="javascript:;")
                    td
                      input.probnum.form-control.input-sm(type="text" value=(p[0] ? p[0] : "") disabled=(edit ? false : true))
                    td
                      input.alias.form-control.input-sm(type="text" value=(p[1] ? p[1] : ""))
                    td.bold.p_index= F[i]
                    td(class="title "+(p[0] ? "success-text" : "error-text") style="text-align:left;")
                      if (p[0])
                        = P[p[0]].title
                      else
                        | No Such Problem!
    .row
      .col-md-offset-6.col-md-6
        a#submit.btn.btn-default(href="javascript:;") Submit
        if (contest && clone == 0)
          = ' '
          a.btn.btn-default(href="/contest?cid="+contest.contestID) Back
        = ' '
        span#err.error-text
script(type="text/javascript").
  var cid = '#{contest && clone == 0 ? contest.contestID : ""}';
  var c_type = #{tp};
