- var F = "ABCDEFGHIJKLMNOPQRSTUVWXYZ", probNum = 0;
- var isManager = (user && (user.name == contest.userName || user.name == 'admin'));
- var startTime = contest.startTime;
- var pending = parseInt((startTime - time)/1000, 10);
- var c, s, ps;

if (pending > 0)
  - c = 'info';
  - s = 'Pending';
  - ps = '';
else if (pending + contest.len*60 > 0)
  - c = 'wrong';
  - s = 'Running';
  - ps = 'progress-danger';
else
  - c = 'accept';
  - s = 'Ended';
  - ps = 'progress-success';

fieldset#widthfix
  div
    legend#contest 比赛
  each p, i in contest.probs
    - ++probNum;
    span.cpid(pid=p[0] alias=p[1] ? p[1] : "")
  .marquee
    marquee#marquee(onmouseout="this.start()" onmouseover="this.stop()" scrollamount="2" scrolldelay="1" behavior="alternate")
      != contest.msg
  div
    h3.problem-header= contest.title
  div#contest-info(style="float:left;text-align:right;") &nbsp;
  div#progress(class="contest_progress progress progress-striped active cb "+ps)
    .bar
  #thumbnail.tabbable.thumbnail
    span.fr.user.user-green(style="margin: 10px;") 罚时：#{contest.penalty}分钟/次
    ul.nav.nav-tabs
      li(style="padding-left:10px;")
        a.tablink(href="#overview")
          span Overview
      li.hidden
        a.tablink(href="#problem")
          span Problem
      li.hidden
        a.tablink(href="#status")
          span Status
      li.hidden
        a.tablink(href="#rank")
          span Rank
      li.hidden
        a.tablink(href="#discuss")
          span Discuss
          sup#discuss_tips.tips.hide
    .tab-content
      //overviewtab
      #overviewtab.tab-pane
        div(style="margin: 0 18%;")
          table#overviewtable.table.table-head.thright
            tr
              th(width="20%") Current Time:
              td#contest_current.bold.user-gray
              th(width="21%") Contest Type:
              td
                if (contest.password)
                  span.user.user-green Private
                else
                  span.user.user-blue Public
            tr
              th Start Time:
              td#start_time.bold.user-gray= getDate(startTime)
              th Contest Status:
              td#conteststatus(class="bold "+c+"-text")= s
            tr
              th End Time:
              td#end_time.bold.user-gray= getDate(startTime+contest.len*60000)
              th Manager:
              td
                a(class="user user-"+MC title=MT+" "+contest.userName href="/user/"+contest.userName)
                  = contest.userName
            if (contest.type === 2)
              tr
                th Register State:
                td
                  - var c1, c2, c3;
                  - c1 = c2 = c3 = "display:none;";
                  if (reg_state === 0)
                    - c1 = '';
                  else if (reg_state === 1)
                    - c2 = '';
                  else if (reg_state === 2)
                    - c3 = '';
                  span#reg_completed.user.user-green(style=c1) Registration Completed
                  a#register.register(href="javascript:;" style=c2 title="点击注册")= "Register >>"
                  span#reg_close.user.user-gray(style=c3 title="已关闭注册") Registration Closed
                th Contestants:
                td
                  img(src="/img/user.png")
                  a#contestants(target="_blank" href="/standings?cid="+contest.contestID) ×#{contest.contestants.length}
        .row-fluid(align="center" style="margin-bottom:15px;")
          if (isManager)
            a.uibtn(href="/addcontest?cID="+contest.contestID+"&type="+contest.type+(contest.family ? "&family="+contest.family : "")) Edit
            a#delete.uibtn(href="javascript:;") Delete
          - var clone_url = "/addcontest?cID=-"+contest.contestID+"&type=1";
          - var clone_desc = "To create a DIY Contest with the same problems.";
          if (user)
            a#clone.btn.btn-default.btn-sm(style="display:none;" href=clone_url title=clone_desc) Clone this contest
          else
            a#clone.btn.btn-default.btn-sm.checklogin(style="display:none;" href="javascript:;" data-url=clone_url title=clone_desc) Clone this contest
          if (!isManager)
            #beforecontest.user-gray(style="text-align:center;font-size:1.75em;margin:100px;display:none;")
              = 'Before Contest '
              span#lefttime
        #problemsview.hidden
          .tablebg
            .theader Problem List
            #tablediv
              table#problems.table.table-cf
                thead
                  tr
                    th(style="width:70px;") #
                    th.end.hidden(style="width:50px;")
                    th Name
                    th(style="width:70px;")
                    th(style="width:90px;") Solved
                  each p, i in contest.probs
                    tr(class=i % 2 == 0 ? "odd" : "even")
                      td.center.bold.o_index= F[i]
                      td.center.end.hidden
                        a(target="_blank" href="/problem?pid="+p[0])= p[0]
                      td
                        if (user && (user.name == 'admin' || user.name == Pt[p[0]].manager))
                          a.fr.uibtn.uibtn-mini.toggleHide(href="javascript:;" pid=p[0])= Pt[p[0]].hide ? "显示到题库" : "隐藏"
                        a(href="#problem-"+F[i])= p[1] ? p[1] : Pt[p[0]].title
                      td.op_submit
                        a.submit.img_link(href="javascript:;" pid=p[0] tname=Pt[p[0]].title title="Submit")
                      td.center.o_sol
          if(contest.description)
            .des-box
              p= contest.description
      //problemtab
      #problemtab.row-fluid.tab-pane
        .pagination.pagination-centered
          ul
            each prob, i in contest.probs
              li.problemlink
                a(href="#problem-"+F[i])= F[i]
        #prob-contain.istyle
          div(align="center")
            h3#problem_title.problem-header
              span.user-green
              = ' - '
              span
            div(style="padding-bottom:8px;")
              b= 'Time Limit: '
              span.limit
              = 'MS (Java/Others)     '
              b= 'Memory Limit: '
              span.limit
              = 'KB (Java/Others)'
              span.user.user-red.limit
            #pids
              a#probsubmit.uibtn.submit(href="javascript:;") Submit
              a.uibtn(href="javascript:;") Status
              if (user && user.name == 'admin')
                a#rejudge.uibtn(href="javascript:;") Rejudge
          #content(style="padding:15px 40px;")
          div(align="center" style="padding-bottom:20px;")
            a#probsubmit2.uibtn.submit(href="javascript:;") Submit
            a.uibtn(href="javascript:;") Status
      //statustab
      #statustab.tab-pane(style="margin: 0 10px;")
        .tablebg
          #pager
            #list.pagination.pagination-small.fl
            #filter.fr
              .input-prepend
                span.add-on Name
                input#search(type="text" placeholder=" username")
              .input-prepend
                span.add-on Problem
                select#pid(style="width:160px;")
                  option(value="nil") All
                  each p, i in contest.probs
                    option(value=F[i])= F[i]+" - "+Pt[p[0]].title
              .input-prepend
                span.add-on Verdict
                select#result(style="width:160px;")
                  option(value="nil") All
                  each p in [0, 1, 2, 6, 3, 4, 5, 7, 8, 9, 13, 14]
                    option(class=Col(p) value=p)= Res(p)
              div
                a#fil.uibtn.uibtn-mini(href="javascript:;") Filter
              div
                a#reset.uibtn.uibtn-mini(href="javascript:;") Reset
          #tablediv
            table#statustable.table.table-cf
              thead
                tr
                  th(style="width:7%;") RunID
                  th(style="width:14%;") User
                  th(style="width:10%;") Problem
                  th Verdict
                  th(style="width:9%;") Time
                  th(style="width:9%;") Memory
                  th(style="width:8%;") Lang
                  th(style="width:8%;") Length
                  th(style="width:15%;") Submit Time
              tbody
      //ranktab
      - var mw = 6 + 41 + 181 + 81 + 41 + 61 + 81*probNum;
      #ranktab.tab-pane(style="margin:0px 10px;")
        #rankheader(style="width:"+(mw-6)+"px")
          table.table.table-rank
            include rankheader
            +rankheader(probNum, F)
        #rankfooter(style="width:"+(mw-6)+"px")
          table.table.table-rank.tdcenter(style="margin:0;")
            tfoot
              include rankfooter
              +rankfooter(probNum, F, true)
        if (isManager)
          if (contest.type == 2)
            .form-inline
              button#calrating.btn 统计本场比赛Rating
              = ' '
              button#resetrating.btn 撤销本场比赛Rating
          .form-inline
            input#starstr.input-xxlarge(type="text" placeholder="用户名" title="用户名")
            = ' '
            select#type.input-medium
              option(value="1") 给他们打星
              option(value="2") 取消打星
            = ' '
            button#star.btn 提交
            = ' '
            small.user-gray PS: 多个用户请用空格隔开
            span#starerr.error-text
          .form-inline
            input#msg_data.input-xxlarge(type="text" placeholder="在此填写消息内容" title="在此填写消息内容")
            = ' '
            button#broadcast.btn 广播消息
            span#msg_err.error-text
        .tablebg(style="width:"+mw+"px")
          .fr(style="margin:5px;")
            span#gtime.user.user-gray= 'The Rank will be updated every 30 seconds '
            a#rank_refresh.uibtn.uibtn-mini(href="javascript:;") 刷新一下
          #ranklist.pagination.pagination-small
          #tablediv
            table.table.table-rank.tdcenter
              thead
                include rankheader
                +rankheader(probNum, F)
              tbody
              tfoot
                include rankfooter
                +rankfooter(probNum, F, false)
      //discusstab
      #discusstab.tab-pane(style="margin:0px 10px;")
        .tablebg
          .fr(style="margin:5px;")
            a#discuss_refresh.uibtn.uibtn-mini(href="javascript:;") 刷新一下
          div#dislist.pagination.pagination-small
          #tablediv
            table#contest.table(style="table-layout:fixed;")
              thead
                tr
                  th(style="width:60px;")
                  th(style="width:10%;") 回复/浏览
                  th(style="text-align:left;") 标题
                  th(style="width:15%;")
              tbody
                tr.odd
                  td.error-text(colspan="6") No Topics are matched.
        if (user)
          .topic_box.form-horizontal
            .header
              span.user.user-gray 发表疑问
              span.user.user-green （用于提问关于题目描述不清的问题，如："n的范围是多少？"，"x是整数吗？"等等）
            .inner_topic
              .control-group
                label.control-label(for="publish_pid")
                  span.user.user-gray 题号：
                .controls
                  select#publish_pid.input-mini
                    - for (var i = 0; i < contest.probs.length; i++)
                      option(value=F[i])= F[i]
              .control-group
                label.control-label(for="publish_title")
                  span.user.user-gray 标题：
                .controls
                  input#publish_title.input-xlarge(type="text")
              .control-group
                label.control-label(for="publish_content")
                  span.user.user-gray 内容：
                .controls
                  textarea#publish_content(rows="5" style="width:400px;")
              .control-group
                .controls
                  a#publish.uibtn(style="margin:0;" href="javascript:;") 发表
                  span#publish_err.error-text
      #loading.mc.hide(style="width:287px;")
        img(src="/img/Loading.gif" alt="Loading...")
      #retry.mc.hide.alert.alert-error(style="width:287px;font-size:32px;padding:100px;text-align:center;")
        | 请求失败，
        a(href="javascript:;") 重试
script(type="text/javascript").
  var cid = #{contest.contestID};
  var ctype = #{contest.type};
  var startTime = #{startTime};
  var duration = #{contest.len * 60};
  var pending = #{pending};
  var status = '#{s}';
  var isManager = #{isManager ? true : false};
if (user && user.name == 'admin')
  script(type="text/javascript").
    function bindCalRating($p) {
      $p.click(function(){
        if ($p.hasClass('disabled')) {
          return false;
        }
        if (!confirm('确定要统计本场比赛的Rating吗？')) {
          return false;
        }
        var txt = '统计本场比赛Rating';
        $p.addClass('disabled').text('请稍候...');
        $.ajax({
          type: 'POST',
          url: '/rating/cal',
          data: { cid: cid },
          dataType: 'text',
          error: function() {
            $p.text(txt).removeClass('disabled');
            ShowMessage('无法连接到服务器！');
          }
        }).done(function(res){
          if (res == '-1' || res == '-2') {
            window.location.reload(true);
            return ;
          }
          if (res == '-3') {
            ShowMessage('系统错误！');
          } else if (res == '-4') {
            ShowMessage('比赛还没结束，无法统计rating！');
          } else {
            GetRanklist();
            ShowMessage('成功计算了'+res+'个用户的rating！');
          }
          $p.text(txt).removeClass('disabled');
        });
      });
    }
    
    function bindResetRating($p) {
      $p.click(function(){
        if ($p.hasClass('disabled')) {
          return false;
        }
        if (!confirm('确定要撤销本场比赛的Rating吗？')) {
          return false;
        }
        $p.addClass('disabled').text('请稍候...');
        $.ajax({
          type: 'POST',
          url: '/rating/reset',
          data: { cid: cid },
          dataType: 'text',
          error: function() {
            $p.text('统计rating').removeClass('disabled');
            ShowMessage('无法连接到服务器！');
          }
        }).done(function(res){
          if (res == '-1' || res == '-2') {
            window.location.reload(true);
            return ;
          }
          if (res == '-3') {
            ShowMessage('系统错误！');
          } else if (res == '-4') {
            ShowMessage('检测到存在参赛者拥有比这场比赛更新的比赛的记录，操作已被服务器拒绝。');
          } else {
            GetRanklist();
            ShowMessage('成功撤销了'+res+'个用户的rating！');
          }
          $p.text('撤销本场比赛Rating').removeClass('disabled');
        });
      });
    }
