- var F = "ABCDEFGHIJKLMNOPQRSTUVWXYZ", probNum = 0;
- var isManager = (user && (user.name == contest.userName || user.name == 'admin'));
- var startTime = contest.startTime;
- var pending = parseInt((startTime - time)/1000, 10);
- var c, s, ps;
- var pids = [], alias = [];

if (pending > 0)
  - c = 'info';
  - s = 'Pending';
  - ps = '';
else if (pending + contest.len*60 > 0)
  - c = 'wrong';
  - s = 'Running';
  - ps = 'progress-bar-danger';
else
  - c = 'accept';
  - s = 'Ended';
  - ps = 'progress-bar-success';

each p, i in contest.probs
  - ++probNum;
  - pids.push(p[0]);
  - alias.push(p[1]);

fieldset#widthfix
  .box.box-inner
    h3.mc.center(style="color:#3069BE")= contest.title
    marquee#marquee.error-text(onmouseout="this.start()" onmouseover="this.stop()" scrollamount="2" scrolldelay="1" behavior="alternate")
      != contest.msg
    .row
      .col-sm-4 Penalty: #{contest.penalty} minutes
      .col-sm-4.center
        if (contest.type === 2)
          - var c1, c2, c3;
          - c1 = c2 = c3 = "display:none;";
          if (reg_state === 0 || user && user.name === 'admin')
            - c1 = '';
          else if (reg_state === 1)
            - c2 = '';
          else if (reg_state === 2)
            - c3 = '';
          span#reg_completed.user-green(style=c1) Registration Completed
          a#register(href="javascript:;" style=c2)= "Register Now !!!"
          span#reg_close.user-gray(style=c3 title="已关闭注册") Registration Closed
      if (contest.type === 2)
        .col-sm-4(style="text-align:right;")
          = 'Contestants: '
            img(src="/img/user.png")
            a#contestants(target="_blank" href="/standings?cid="+contest.contestID) ×#{contest.contestants.length}
    #progress.progress.cb(style="height:20px;")
      .progress-bar.progress-bar-striped.active(class=ps style="width:100%;")
    #contest-info.pull-left(style="text-align:right;")!= '&nbsp;'
  #thumbnail.box(style="min-height:600px;")
    ul.nav.nav-tabs(style="padding-top:5px;")
      li(style="padding-left:10px;")
        a.tablink(href="#overview")
          span Overview
      li.hidden
        a.tablink(href="#problem")
          span Problem
      li.hidden
        a.tablink(href="#status")
          span Status
      li.hidden
        a.tablink(href="#rank")
          span Rank
      li.hidden
        a.tablink(href="#discuss")
          span Discuss
          = ' '
          sup#discuss_tips.badge(style="display:none;")
    div(style="padding:15px 10px;overflow:visible;")
      //overviewtab
      #overviewtab(style="display:none;")
        .mc(style="width:60%;")
          .table-responsive
            table#overviewtable.table(style="min-width:500px;")
              tr
                th(width="20%") Current Time:
                td#contest_current
                th(width="21%") Contest Type:
                td
                  if (contest.password)
                    span.user-green Private
                  else
                    span.user-blue Public
              tr
                th Start Time:
                td#start_time= getDate(startTime)
                th Contest Status:
                td#conteststatus(class=c+"-text")= s
              tr
                th End Time:
                td#end_time= getDate(startTime+contest.len*60000)
                th Manager:
                td
                  a(class="user user-"+MC title=MT+" "+contest.userName href="/user/"+contest.userName)
                    = contest.userName
        .center(style="margin-bottom:15px;")
          if (isManager)
            a.btn.btn-default.btn-sm(href="/addcontest?cID="+contest.contestID+"&type="+contest.type+(contest.family ? "&family="+contest.family : "")) Edit
            = ' '
            a#delete.btn.btn-default.btn-sm(href="javascript:;") Delete
            = ' '
          - var clone_url = "/addcontest?cID=-"+contest.contestID+"&type=1";
          - var clone_desc = "To create a DIY Contest with the same problems.";
          if (user)
            a#clone.btn.btn-default.btn-sm(style="display:none;" href=clone_url title=clone_desc) Clone this contest
          else
            a#clone.btn.btn-default.btn-sm.checklogin(style="display:none;" href="javascript:;" data-url=clone_url title=clone_desc) Clone this contest
          if (!isManager)
            #beforecontest.user-gray(style="text-align:center;font-size:1.75em;margin:100px;display:none;")
              = 'Before Contest '
              span#lefttime
        #problemsview.hidden.mc(style="width:75%;")
          .block.block-info
            .heading Problem List
            .table-responsive
              table#problems.table.table-bordered(style="min-width:550px;")
                thead
                  tr.even
                    th(style="width:70px;") #
                    th.end.hidden(style="width:70px;")
                    th Name
                    th(style="width:90px;")
                    th(style="width:90px;") Solved
                tbody
                  each p, i in contest.probs
                    tr(class=i % 2 == 0 ? "odd" : "even")
                      td.center.bold.o_index= F[i]
                      td.center.end.hidden
                        a(target="_blank" href="/problem?pid="+p[0])= p[0]
                      td
                        if (user && (user.name == 'admin' || user.name == Pt[p[0]].manager))
                          a.pull-right.btn.btn-default.btn-xs.toggleHide(href="javascript:;" pid=p[0])= Pt[p[0]].hide ? "显示到题库" : "隐藏"
                        a(href="#problem-"+F[i])= p[1] ? p[1] : Pt[p[0]].title
                      td.op_submit
                        a.submit.img_link(href="javascript:;" pid=p[0] tname=Pt[p[0]].title title="Submit")
                      td.center.o_sol
          if(contest.description)
            .box.box-inner
              p= contest.description
      //problemtab
      #problemtab(style="display:none;")
        .center
          ul.pagination
            each prob, i in contest.probs
              li.problemlink
                a(href="#problem-"+F[i])= F[i]
        #prob-contain.istyle
          .center
            h3#problem_title.problem-header
              span.user-green
              = ' - '
              span
            div(style="margin-bottom:8px;")
              span= 'Time Limit: '
              span.limit
              = 'MS (Java/Others)'
              != '&nbsp;&nbsp;&nbsp;&nbsp;'
              span= 'Memory Limit: '
              span.limit
              = 'KB (Java/Others)'
              span.user.user-red.limit
            #pids
              a#probsubmit.btn.btn-default.btn-sm.submit(href="javascript:;") Submit
              = ' '
              a.btn.btn-default.btn-sm(href="javascript:;") Status
              if (user && user.name == 'admin')
                = ' '
                a#rejudge.btn.btn-default.btn-sm(href="javascript:;") Rejudge
          #content(style="padding:15px 25px;")
          .center.form-group
            a#probsubmit2.btn.btn-default.btn-sm.submit(href="javascript:;") Submit
            = ' '
            a.btn.btn-default.btn-sm(href="javascript:;") Status
      //statustab
      #statustab(style="display:none;")
        .block.block-info
          .heading.form-inline
            .pull-right
              .input-group.input-group-sm
                span.input-group-addon name
                input#search.form-control(type="text" placeholder="UserName")
              = ' '
              .input-group.input-group-sm
                span.input-group-addon problem
                select#pid.form-control
                  option(value="nil") All
                  each p, i in contest.probs
                    option(value=F[i])= F[i]+" - "+Pt[p[0]].title
              = ' '
              .input-group.input-group-sm
                span.input-group-addon verdict
                select#result.form-control
                  option(value="nil") All
                  each p in [0, 1, 2, 6, 3, 4, 5, 7, 8, 9, 13, 14]
                    option(class=Col(p) value=p)= Res(p)
              = ' '
              a#fil.btn.btn-default.btn-sm(href="javascript:;") Filter
              = ' '
              a#reset.btn.btn-default.btn-sm(href="javascript:;") Reset
          .table-responsive
            table#statustable.table.table-bordered.tdcenter
              thead
                tr.even
                  th(style="width:7%;") RunID
                  th(style="width:14%;") User
                  th(style="width:10%;") Problem
                  th Verdict
                  th(style="width:9%;") Time
                  th(style="width:9%;") Memory
                  th(style="width:8%;") Lang
                  th(style="width:8%;") Length
                  th(style="width:15%;") Submit Time
              tbody
              tfoot
                tr.odd
                  td(colspan="9")
                    #pager
                      #list
                        ul.pagination.pagination-sm
      //ranktab
      - var mw = 41 + 181 + 81 + 41 + 61 + 81*probNum;
      #ranktab(style="display:none;")
        #rankheader(style="width:"+mw+"px;")
          table.table.table-bordered.table-rank
            thead
              include rankheader
              +rankheader(probNum, F)
        #rankfooter(style="width:"+mw+"px;")
          table.table.table-bordered.table-rank(style="margin:0;border:0;")
            tfoot
              include rankfooter
              +rankfooter(probNum, F, true)
        if (isManager)
          if (contest.type === 2)
            .form-inline.form-group
              button#calrating.btn.btn-default 统计本场比赛Rating
              = ' '
              button#resetrating.btn.btn-default 撤销本场比赛Rating
            .form-inline.form-group
              input#addcontestant_name.form-control(style="width:200px;" type="text" placeholder="一个用户名")
              = ' '
              button#addcontestant.btn.btn-default 添加参赛者
          .form-inline.form-group
            input#starstr.form-control(style="width:500px;" type="text" placeholder="多个用户名")
            = ' '
            select#type.form-control
              option(value="1") 给他们打星
              option(value="2") 取消打星
            = ' '
            button#star.btn.btn-default 提交
            = ' '
            small.user-gray PS: 多个用户请用空格隔开
            = ' '
            span#starerr.error-text
          .form-inline.form-group
            input#msg_data.form-control(style="width:500px;" type="text" placeholder="在此填写消息内容")
            = ' '
            button#broadcast.btn.btn-default 广播消息
            = ' '
            span#msg_err.error-text
        .block.block-danger(style="width:"+mw+"px;")
          .heading
            .pull-right
              span#gtime.user-gray= 'The Rank will be updated every 30 seconds '
              a#rank_refresh.btn.btn-default.btn-sm(href="javascript:;") 刷新一下
          #ranktable
            table.table.table-bordered.table-rank.tdcenter
              thead
                include rankheader
                +rankheader(probNum, F)
              tbody
              tfoot
                include rankfooter
                +rankfooter(probNum, F, false)
      //discusstab
      #discusstab(style="display:none;")
        .block.block-danger
          .block-content
            .heading
              .pull-right
                a#discuss_refresh.btn.btn-default.btn-sm(href="javascript:;") 刷新一下
            .table-response
              table#contest.table-acdream.highlight(style="min-width:500px;")
                tbody
                  tr.odd
                    td.error-text(colspan="3") No Topics are matched.
                tfoot
                  tr.odd
                    td(colspan="3")
                      ul#dislist.pagination.pagination-sm
        if (user)
          .block.block-info
            .block-content
              .heading
                span.user-gray 发表疑问
              .inner.form-horizontal
                .form-group
                  label.control-label.col-sm-2(for="publish_pid") 题号：
                  .col-sm-2
                    select#publish_pid.form-control
                      - for (var i = 0; i < contest.probs.length; i++)
                        option(value=F[i])= F[i]
                .form-group
                  label.control-label.col-sm-2(for="publish_title") 标题：
                  .col-sm-5
                    input#publish_title.form-control(type="text")
                .form-group
                  label.control-label.col-sm-2(for="publish_content") 内容：
                  .col-sm-5
                    textarea#publish_content.form-control(style="height:180px;")
                .form-group
                  .col-sm-offset-2.col-sm-10
                    a#publish.btn.btn-default.btn-sm(style="margin:0;" href="javascript:;") 发表
                    = ' '
                    span#publish_err.error-text
      #loading.mc(style="width:287px;display:none;")
        img(src="/img/Loading.gif" alt="Loading...")
      #retry.alert.alert-danger.center.mc(style="width:450px;font-size:24px;padding:100px;;margin-top:15px;display:none;")
        span
        a(href="javascript:;") 重试
script(type="text/javascript")
  != 'var _pids = '+JSON.stringify(pids)+';'
  != 'var _alias = '+JSON.stringify(alias)+';'
script(type="text/javascript").
  var _prob_num = #{probNum};
  var _cid = #{contest.contestID};
  var _startTime = #{startTime};
  var _duration = #{contest.len * 60};
  var _pending = #{pending};
  var _status = '#{s}';
  var _is_manager = #{isManager ? true : false};
if (user && user.name === 'admin')
  script(type="text/javascript").
    function bindCalRating($p) {
      $p.click(function(){
        if ($p.hasClass('disabled')) {
          return false;
        }
        if (!confirm('确定要统计本场比赛的Rating吗？')) {
          return false;
        }
        var txt = '统计本场比赛Rating';
        $p.addClass('disabled').text('请稍候...');
        $.ajax({
          type: 'POST',
          url: '/rating/cal',
          data: {cid: _cid},
          dataType: 'text',
          error: function() {
            $p.text(txt).removeClass('disabled');
            ShowMessage('无法连接到服务器！');
          }
        }).done(function(res){
          if (res == '-1' || res == '-2') {
            window.location.reload(true);
            return ;
          }
          if (res == '-3') {
            ShowMessage('系统错误！');
          } else if (res == '-4') {
            ShowMessage('比赛还没结束，无法统计rating！');
          } else {
            GetRanklist();
            ShowMessage('成功计算了'+res+'个用户的rating！');
          }
          $p.text(txt).removeClass('disabled');
        });
      });
    }
    
    function bindResetRating($p) {
      $p.click(function(){
        if ($p.hasClass('disabled')) {
          return false;
        }
        if (!confirm('确定要撤销本场比赛的Rating吗？')) {
          return false;
        }
        $p.addClass('disabled').text('请稍候...');
        $.ajax({
          type: 'POST',
          url: '/rating/reset',
          data: {cid: _cid},
          dataType: 'text',
          error: function() {
            $p.text('统计rating').removeClass('disabled');
            ShowMessage('无法连接到服务器！');
          }
        }).done(function(res){
          if (res == '-1' || res == '-2') {
            window.location.reload(true);
            return ;
          }
          if (res == '-3') {
            ShowMessage('系统错误！');
          } else if (res == '-4') {
            ShowMessage('检测到存在参赛者拥有比这场比赛更新的比赛的记录，操作已被服务器拒绝。');
          } else {
            GetRanklist();
            ShowMessage('成功撤销了'+res+'个用户的rating！');
          }
          $p.text('撤销本场比赛Rating').removeClass('disabled');
        });
      });
    }

    function bindAddContestant($p) {
      $p.click(function(){
        if ($p.hasClass('disabled')) {
          return false;
        }
        var name = $('#addcontestant_name').val();
        if (!name) {
          ShowMessage('用户名不能为空！');
          return false;
        }
        $p.addClass('disabled');
        $.ajax({
          type: 'POST',
          url: '/contest/addContestant',
          data: {
            cid: _cid,
            name: $('#addcontestant_name').val()
          },
          dataType: 'json',
          error: function() {
            $p.removeClass('disabled');
            ShowMessage('无法连接到服务器！');
          }
        }).done(function(res){
          var ret = res.ret;
          if (ret === 0) {
            GetRanklist();
          }
          $p.removeClass('disabled');
          ShowMessage(res.msg);
        });
      });
    }
