<!--<html>-->
<div class="jqmSubmit" name="<%= u.name %>" id="dialog_st" style="width:490px;height:470px;top:12%;">
  <div class="jqDrag jqtop">Settings</div>
  <div class="jqcontent" style="width:490px;height:380px;padding-left:10px;">
    <div class="group" style="min-width:460px;">
      <div style="width:250px;">
        <div>
          <label for="oldpassword">Old Password *</label>
          <input maxlength="50" type="password" id="oldpassword">
        </div>
        <div>
          <label for="newpassword">New Password</label>
          <input maxlength="50" type="password" id="newpassword">
          <small class="help-block user-green" style="margin:0;">Leave it blank if not to change password</small>
        </div>
        <div>
          <label for="password_repeat">Confirm New Password</label>
          <input maxlength="50" type="password" id="password_repeat">
        </div>
        <div>
          <label for="set_nick">Nick Name *</label>
          <input maxlength="50" type="text" id="set_nick" <% if(u.nick) { %>value="<%= u.nick %>"<% } %>>
        </div>
        <div>
          <label for="set_school">School</label>
          <input maxlength="50" type="text" id="set_school" <% if(u.school) { %>value="<%= u.school %>"<% } %>>
        </div>
        <div>
          <label for="set_email">Email</label>
          <input maxlength="50" type="text" id="set_email" <% if(u.email) { %>value="<%= u.email %>"<% } %>>
        </div>
      </div>
      <div>
        <label for="signature">Signature</label>
        <textarea maxlength="300" style="width:190px;height:280px;resize:none;" id="signature"><% if(u.signature) { %><%= u.signature %><% } %></textarea>
      </div>
    </div>
    <small id="set_error" class="error-text"></small>
  </div>
  <div class="jqfoot">
    <a class="uibtn" id="set_submit" href="javascript:;">Submit</a>
    <a class="uibtn setclose" href="javascript:;">Cancel</a>
  </div>
  <div class="jqResize"></div>
  <i class="setclose jqclose"></i>
</div>