mixin editproblem(p, u, partial, f, imgs)
  div(style="float:right;width:55%;")
    .roundbox.upload.row-fluid
      .span5.uploaddiv
        span.success-text 上传图片：
        br
        span.uibtn.upload-btn
          span 选择并上传图片
          input#image(type="file" name="info" data-url="/addproblem/imgUpload?pid="+p.problemID)
        span#submit-info.upload-info 未选择文件
        br
        span#imgerr.error-text= ' '
        .ibox.user-gray (支持jpeg, jpg, png格式)
          br
          | 目前已保存了
          span#imgnum= imgs.length
          | 张图片
        #imgdiv.limitbox
          each p in imgs
            .cb(fname=p)
              .ibox= p
              .ibox
                a.imgdel(href="javascript:;") 删除
      .span7
        span.success-text
          | 注意：图片大小不得超过1M！
          br
          | 使用：在下面编辑器中点击图象，源文件路径： "/img/prob/#{p.problemID}/"+"文件名"
    .roundbox.upload.row-fluid
      .span5.uploaddiv
        span.success-text 上传数据：
        br
        span.uibtn.upload-btn
          span 选择并上传数据
          input#data(type="file" name="data" data-url="/addproblem/dataUpload?pid="+p.problemID multiple)
        span#upload-info.upload-info 未选择文件
        br
        span#dataerr.error-text= ' '
        .ibox.user-gray
          | 目前已保存了
          span#datanum= f.length
          | 个数据文件
        #datadiv.limitbox
          each p in f
            .cb(fname=p)
              .ibox= p
              .ibox
                a.del(href="javascript:;") 删除
      .span7
        span.success-text
          | 注意：
          br
          | 1. 大于50m的文件将会被忽略
          br
          | 2. 若数据有错请点击删除
          br
          | 3. 可以上传任何格式文件，但是评测机只认识格式为".in", ".out"的数据文件
          br
          span.error-text
            | 4. 请务必统一使用："1.in, 1.out, 2.in, 2.out..."命名方式
            br
            | 5. 每个数据文件尽量不超过100组测试
  form.form-horizontal(method="post")
    .roundbox(style="margin-top:10px;width:40%;")
      h4
        span.error-text 加题者注意：
      h5
        | 1、
        span.error-text 变量、重要范围
        | 必须使用斜体表示，前台CSS样式会突出它们！
      h5
        | 2、
        span.success-text 重要数字，重要句子请加粗凸显！
      h5
        | 3、
        span.success-text 建议先检查你要出的题是否已存在于题库！
      h4
        | PS：
        span.error-text 若数据是原创的，务必找多几份代码进行验证
    div
        h4 Use Special Judge ?
        .my-radio
          input#spj(type="radio" name="isSpj" value="1" checked=(p.spj ? true : false))
          label(for="spj") YES
          input#nospj(type="radio" name="isSpj" value="0" checked=(p.spj ? false : true))
          label(for="nospj") NO
    div
        h4 Use TC Mode ?
        .my-radio
          input#tc(type="radio" name="TC" value="1" checked=(p.TC ? true : false))
          label(for="tc") YES
          input#notc(type="radio" name="TC" value="0" checked=(p.TC ? false : true))
          label(for="notc") NO
    if(u.name == 'admin' || p.manager == u.name)
      div
        h4 Hide ?
        .my-radio
          input#hide(type="radio" name="hide" value="1" checked=(p.hide ? true : false))
          label(for="hide") YES
          input#nohide(type="radio" name="hide" value="0" checked=(p.hide ? false : true))
          label(for="nohide") NO
    #simpleInput
      div
        h4 Title
        input(type="text" name="Title" value=p.title)
      div
        h4 Time limit
        input.input-small(type="text" name="Timelimit" value=p.timeLimit)= ' MS'
      div
        h4 Memory limit
        input.input-small(type="text" name="Memorylimit" value=p.memoryLimit)= ' KB'
    div
      h4 Problem Description
      textarea(name="Description")!= p.description
    div
      h4 Input
      textarea(name="Input")!= p.input
    div
      h4 Output
      textarea(name="Output")!= p.output
    div
      h4 Sample Input
      textarea(rows="10" style="width:80%;" name="sInput")= p.sampleInput
    div
      h4 Sample Output
      textarea(rows="10" style="width:80%;" name="sOutput")= p.sampleOutput
    div
      h4 Hint
      textarea(name="Hint")!= p.hint
    div
      h4 Source
      input.input-xlarge(type="text" name="Source" value=p.source)
    .form-actions
      button.btn.btn-large(type="submit") submit
    input.hide(type="text" name="pid" value=p.problemID)
