mixin editproblem(p, u, partial, f, imgs)
  form(method="post")
    .row
      .col-md-6
        .block.block-danger
          .block-content
            .inner
              h4
                span.error-text 加题者注意：
              h5
                | 1、
                span.error-text 变量、重要范围
                | 必须使用斜体表示，前台CSS样式会突出它们！
              h5
                | 2、
                span.success-text 重要数字，重要句子请加粗凸显！
              h5
                | 3、
                span.success-text 建议先检查你要出的题是否已存在于题库！
              h4
                | PS：
                span.error-text 若数据是原创的，务必找多几份代码进行验证
        h4 Use Special Judge ?
        div
          label.radio-inline
            input#spj(type="radio" name="isSpj" value="1" checked=(p.spj ? true : false))
            | Yes
          label.radio-inline
            input#nospj(type="radio" name="isSpj" value="0" checked=(p.spj ? false : true))
            | No
        h4 Use TC Mode ?
        div
          label.radio-inline
            input#tc(type="radio" name="TC" value="1" checked=(p.TC ? true : false))
            | Yes
          label.radio-inline
            input#notc(type="radio" name="TC" value="0" checked=(p.TC ? false : true))
            | No
        if(u.name == 'admin' || p.manager == u.name)
          h4 Hide ?
          div
            label.radio-inline
              input#hide(type="radio" name="hide" value="1" checked=(p.hide ? true : false))
              | Yes
            label.radio-inline
              input#nohide(type="radio" name="hide" value="0" checked=(p.hide ? false : true))
              | No
        h4 Title
        input.form-control(type="text" name="Title" value=p.title)
        h4 Time limit
        input.form-control(type="text" name="Timelimit" value=p.timeLimit)= ' MS'
        h4 Memory limit
        input.form-control(type="text" name="Memorylimit" value=p.memoryLimit)= ' KB'
      .col-md-6
        include upload
        .block.block-warning
          .block-content
            .heading 图片上传
            .inner
              +upload('image', 'info', '/addproblem/imgUpload?pid='+problem.problemID)
              div
                span.user-gray
                = '支持jpeg, jpg, png格式 '
                span#imgerr.error-text
              div
                .ibox.user-gray
                  = '目前已保存了 '
                  span#imgnum.user-green= imgs.length
                  = ' 张图片'
                #imgdiv.limitbox
                  each p in imgs
                    .cb(fname=p)
                      .ibox= p
                      .ibox
                        a.imgdel(href="javascript:;") 删除
              span.success-text
                | 注意：图片大小不得超过1M！
                br
                | 使用：在编辑器中点击图象，源文件路径填： "/img/prob/#{p.problemID}/"+"文件名"
        .block.block-success
          .block-content
            .heading 数据上传
            .inner
              +upload('data', 'data', '/addproblem/dataUpload?pid='+p.problemID, true)
              div
                .ibox.user-gray
                  = '目前已保存了 '
                  span#datanum.user-green= f.length
                  = ' 个数据文件 '
                  span#dataerr.error-text
                #datadiv.limitbox
                  each p in f
                    .cb(fname=p)
                      .ibox= p
                      .ibox
                        a.del(href="javascript:;") 删除
              span.success-text
                | 注意：
                br
                | 1. 大于50m的文件将会被忽略
                br
                | 2. 若数据有错请点击删除
                br
                | 3. 可以上传任何格式文件，但是评测机只认识格式为".in", ".out"的数据文件
                br
                span.error-text
                  | 4. 请务必统一使用："1.in, 1.out, 2.in, 2.out..."命名方式
                  br
                  | 5. 每个数据文件尽量不超过100组测试
    h4 Problem Description
    textarea.form-control(name="Description")!= p.description
    h4 Input
    textarea.form-control(name="Input")!= p.input
    h4 Output
    textarea.form-control(name="Output")!= p.output
    h4 Sample Input
    textarea.form-control(rows="10" name="sInput")= p.sampleInput
    h4 Sample Output
    textarea.form-control(rows="10" name="sOutput")= p.sampleOutput
    h4 Hint
    textarea.form-control(name="Hint")!= p.hint
    .form-group
      h4 Source
      input.form-control(type="text" name="Source" value=p.source)
    button.btn.btn-default.btn-lg(type="submit") submit
    input.hide(type="text" name="pid" value=p.problemID)
