- var now = (new Date()).getTime();
- var oj = ['HDU (杭州电子科技大学)', 'POJ (北京大学)', 'ZOJ (浙江大学)', 'Codeforces', 'BNUOJ (北京师范大学)'];
- var oj_url = ['http://acm.hdu.edu.cn/', 'http://poj.org/', 'http://acm.zju.edu.cn/onlinejudge/', 'http://codeforces.com/', 'http://acm.bnu.edu.cn/'];
- var blog = ['cxlove', '夏天的风', 'kuangbin', 'xiaodao', 'NotOnlySuccess'];
- var blog_url = ['http://blog.csdn.net/ACM_cxlove', 'http://blog.csdn.net/shahdza', 'http://www.cnblogs.com/kuangbin', 'http://www.shuizilong.com/house/', 'http://www.notonlysuccess.com'];

fieldset
  .row
    .col-sm-8
      .block.block-danger
        .block-content
          table.table-acdream
            each o in contests
              tr
                td
                  .title
                    a(href="/contest?cid="+o.contestID)= o.title
                  .footer
                    = '时长：' + Math.round(o.len/6)/10 + '小时 / '
                    = '参加人数：' + o.contestants.length + ' / '
                    = '开始时间：' + getTime(o.startTime)
                td.state
                  - var pass = now - o.startTime;
                  if (pass < 0)
                    span.text-primary Pending
                  else if (pass < o.len*60000)
                    span.wrong-text Running
                  else
                    span.accept-text Ended
      .block.block-warning
        .block-content
          table.table-acdream.highlight
            each o in topics
              tr
                td.avatar
                  - var img;
                  if (imgType[o.user])
                    - img = '/img/avatar/'+o.user+'/4.'+imgType[o.user];
                  else
                    - img = '/img/avatar/%3Ddefault%3D/4.jpeg';
                  img.img-50.img-round(src=img)
                td
                  .title
                    a(href="/topic?tid="+o.id)= o.title
                  .footer
                    = '作者：' + o.user
                    if (o.lastReviewer)
                      = ' / 最新回复：' + o.lastReviewer + ' @ ' + getTime(o.lastReviewTime)
                td.state= o.reviewsQty
          .heading
            a(target="_blank" href="/topic/list") 查看更多讨论
    .col-sm-4
      .block.block-success
        .block-content
          .heading
            a.fr(target="_blank" href="/standings") More
            | Top 10
          table.table-acdream.info
            each o in users
              tr
                td
                  div
                    a.user(href="/user/"+o.name title=UT(o.rating) class="user-"+UC(o.rating))= o.name
                  .footer
                    = '场次：' + o.ratedRecord.length
                td.state
                  span= o.rating
      .block.block-info
        .block-content
          .heading
            a.fr(target="_blank" href="/topic?tid=101") More
            | Online Judge
          table.table-acdream.bigger
            each name, i in oj
              tr
                td
                  a(target="_blank" href=oj_url[i])= name
      .block.block-info
        .block-content
          .heading Blog
          table.table-acdream.bigger
            each name, i in blog
              tr
                td
                  a(target="_blank" href=blog_url[i])= name
