doctype HTML
- var nvgurl = ['/', '/problem/list', '/status', '/ranklist', '/standings', '/contest/list?type=1', '/contest/list?type=2', '/topic?tid=100', '/topic/list'];
- var nvgname = ['Home', 'ProblemList', 'Status', 'Ranklist', 'Standings', 'DIY Contest', 'VIP Contest', 'FAQ', 'Forum'];
include post_list
html
  head
    meta(name="description" content="ACdream. Programming competitions and contests, programming community")
    meta(name="keywords" content="ACdream OnlineJudge OJ ACM ICPC Contest online judge programming")
    title#title= title
    link(href="/bootstrap/bootstrap.css" rel="stylesheet" type="text/css")
    link(href="/css/style.css" rel="stylesheet" type="text/css")
    if (key == KEY.PROBLEM || key == KEY.SOURCE_CODE || key == KEY.TOPIC)
      link(rel="stylesheet" type="text/css" href="/highlighter/styles/shCoreEclipse.css")
    else if (key == KEY.ADD_CONTEST)
      link(rel="stylesheet" type="text/css" href="/zd/css/zebra_datepicker.css")
    //if lt IE 9
      link(rel="stylesheet" type="text/css" href="/css/ie.css")
  body#wrapper
    div.w
      marquee#marquee(style="float:left;width:50%;" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="2" scrolldelay="1" behavior="alternate")
        span.user.user-green= stc[Math.floor(Math.random()*stc.length)]
      mixin line
        li
          span.user-gray |
      ul.navigation
        if (user)
          li
            a#logout(href="javascript:;") Logout
          +line
          if (user.addprob == 1)
            if (key == ADD_PROBLEM)
              li.active Add Problem
            else
              li
                a(href="/addproblem") Add Problem
            +line
          li
            a(href="/user/"+user.name)= user.name
        else
          li
            a#reg(href="javascript:;") Register
          +line
          li
            a#login(href="javascript:;") Enter
    div#preload_logo.w
      if (user)
        - var img = '/img/avatar/%3Ddefault%3D/3.jpeg';
        if (user.imgType)
          - img = '/img/avatar/'+user.name+'/3.'+user.imgType;
        a.fr(href="/avatar" style="margin-top:5px;")
          img.img_m.topic_img(title="change picture" alt="change picture" src=img)
      else
        a.fr(target="_blank" href="https://github.com/KIDx/ACdream" style="margin-top:5px;")
          img.img_m.topic_img(title="Fork me on Github." alt="Fork me on Github." src="/img/git.png")
      a.logo(href="/" title="ACdream Online Judge")
        img(src="/img/logo.png" alt="ACdream Online Judge")
    div.w
      div.fr
        input.input-small(type="text" style="padding:2px;margin:0;font-size:12px;" placeholder=" Problem ID" title="Problem ID")
        a#Go.uibtn(href="javascript:;") Go
      ul.navigation.menu
        each url, i in nvgurl
          li
            a(href=url)= nvgname[i]
    div#xbody.w
      != body
    div#footer.w
      div
        a(target="_blank" href="https://github.com/KIDx/ACdream") ACdream v1.4.0
        | &nbsp;2013-2014 KIDx(网站), TTLast(评测机)
      div Any bug please contact 972169909@qq.com
      div= 'Server time: '
        span#timer
      div
        a(href="http://www.miitbeian.gov.cn/") 浙ICP备14013846号
    div#go_top(title="Go to top")
    //Dialogs
    if (!user)
      include D_login
      include D_register
    if (key == KEY.USER)
      if (user && u && user.name == u.name)
        include D_settings
        +D_settings(u)
    else if (key == KEY.STATUS)
      include D_ce
    else if (key == KEY.CONTEST_LIST)
      if (type != 2)
        include D_logincontest
    else if (key == KEY.CONTEST)
      include D_ce
      include D_broadcast
      if (user)
        include D_submit
        +D_submit(langs)
    //js Placed at the end of the document so the pages load faster
    script(type="text/javascript").
      var globalMessage = "#{msg ? msg : ''}";
      var nextURL = "";
      var current_user = "#{user ? user.name : ''}";
      var current_time;
      var curren_second = #{time};
      var contest_type = #{key == KEY.CONTEST_LIST ? type : 1};
    script(src="/plugins/jquery_uieffect_jqdnr.js")
    script(src="/plugins/jquery.cookie.js")
    script(src="/js/global.js")
    mixin highlight
      script(src="/highlighter/scripts/shCore_brushCpp_brushJava.js")
      script(type="text/javascript") SyntaxHighlighter.defaults['toolbar'] = false; SyntaxHighlighter.all();
    case key
      when KEY.USER
        script(src="/Highcharts-4.0.1/highcharts.js")
        script(src="/js/user.js")
      when KEY.STATISTIC
        script(src="/Highcharts-4.0.1/highcharts.js")
        script(src="/Highcharts-4.0.1/main.js")
        script(src="/js/statistic.js")
      when KEY.PROBLEM_LIST
        script(src="/js/problemlist.js")
      when KEY.RANKLIST
        script(src="/js/ranklist.js")
      when KEY.CONTEST_LIST
        script(src="/js/contestlist.js")
      when KEY.STANDINGS
        script(src="/js/standings.js")
      when KEY.PROBLEM
        +highlight
        script(src="/plugins/fileUpload.js")
        script(src="/js/problem.js")
      when KEY.CONTEST
        script(src="/plugins/jquery.hashchange.js")
        script(src="/js/updatestatus.js")
        if (user && user.name == 'admin')
          script(src="/js/singleRejudge.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/contest.js")
      when KEY.STATUS
        script(src="/js/updatestatus.js")
        if (user && user.name == 'admin')
          script(src="/js/singleRejudge.js")
        script(src="/js/status.js")
      when KEY.SUBMIT
        script(src="/js/submit.js")
      when KEY.SOURCE_CODE
        +highlight
      when KEY.AVATAR
        script(src="/plugins/fileUpload.js")
        script(src="/js/avatar.js")
      when KEY.TOPIC_LIST
        script(src="/js/topiclist.js")
      when KEY.TOPIC
        +highlight
        if (user)
          script(src="/ckeditor/ckeditor.js")
        script(src="/js/topic.js")
      when KEY.ADD_CONTEST
        script(src="/js/addcontest.js")
        script(src="/zd/javascript/zebra_datepicker.js")
      when KEY.ADD_PROBLEM
      when KEY.EDIT_PROBLEM
        script(src="/plugins/fileUpload.js")
        script(src="/ckeditor/ckeditor.js")
        script(src="/js/addproblem.js")
      when KEY.ADD_TOPIC
        script(src="/ckeditor/ckeditor.js")
        script(src="/js/addtopic.js")
