- var _id = [0, 2, 6, 3, 4, 5, 7, 8, 9, 13, 14];
- var names = ['', 'AC', 'WA', 'PE', 'TLE', 'MLE', 'OLE', 'CE', 'RE'];
- var data = [];

fieldset
  .row
    .col-md-4
      .block.block-info
        .heading Problem Statistic
        .table-responsive
          table#static.table.table-bordered.tdcenter.tdmini
            thead
              tr.even
                th Verdict
                th Amount
            tbody
              each p, i in _id
                - var c;
                if (i == 0 || i % 2 == 1)
                  - c = 'odd';
                else
                  - c = 'even';
                - var v = 0;
                - if (N[p]) v = N[p];
                - var title = Res(p);
                if (p > 0 && p < 10)
                  - data.push({name: names[i], title: title, y: v});
                if (i == 1)
                  tr.even
                    th(colspan="2")
                      #chart(style="height:400px;")
                tr(class=c)
                  td
                    if (i == 0)
                      | Total Submissions
                    else
                      = title
                  td
                    a(href="/status?pid="+pid+(_id[i] > 0 ? "&result="+_id[i] : ""))= v
    .col-md-8
      .block.block-info
        .heading
          .row
            .col-sm-2
              a(href="/problem?pid="+pid)= 'Problem '+pid
            .col-sm-10.form-inline
              .pull-right
                #filter.input-group.input-group-sm
                  span.input-group-addon Lang.
                  select#lang.form-control
                    each l, i in langs
                      option(value=(i > 0 ? i : "") selected=(lang == i ? true : false))= l
        .table-responsive
            table#statistic.table.table-bordered.tdcenter
              thead
                tr.even
                  th(width="6%") Rank
                  th(width="20%") Author
                  th(data-key=0 class=(sort_key ? "sort" : "sort-current") title="sorted by exec time.") Exe. Time
                  th(data-key=1 class=(sort_key === 1 ? "sort-current" : "sort") title="sorted by exec memory.") Exe. Memory
                  th(data-key=2 class=(sort_key === 2 ? "sort-current" : "sort") title="sorted by code length.") Code Len.
                  th Lang.
                  th(width="22%") Date
              tbody
                if (!sols || sols.length == 0)
                  tr.odd
                    td.error-text.center(colspan="7") No Status are matched.
                else
                  each p, i in sols
                    - var c;
                    if (i % 2 == 1)
                      - c = 'even';
                    else
                      - c = 'odd';
                    - if (user && user.name == p._id) c += ' highlight';
                    tr(class=c)
                      td= (page-1)*pageNum + i + 1
                      td
                        a(title=UT[p._id] class="user user-"+UC[p._id] href="/user/"+p._id)= p._id
                      td= p.time+' MS'
                      td= p.memory+' KB'
                      td= p.length+' B'
                      td
                        a(href="/sourcecode/"+p.runID)= langs[p.language]
                      td= getDate(p.inDate)
              tfoot
                tr.odd
                  td(colspan="9")
                    #pager
                      include pager
                      +pager(page, n)
script(type="text/javascript")
  | var pid = #{pid};
  | var sort = #{sort_key};
  != 'var stat_data = '+JSON.stringify(data)+';'
