- var now = (new Date()).getTime();
fieldset
  .block.block-info
    .block-content
      .heading
        .row
          .col-sm-2
            | TopicList
          .col-sm-10.form-inline
            .pull-right
              if (user)
                a.btn.btn-default.btn-sm(href="/addtopic") 发布话题
              else
                a#addtopic.btn.btn-default.btn-sm.checklogin(href="javascript:;") 发布话题
              = ' '
              .input-group.input-group-sm
                span.input-group-addon
                  i.icon_search
                input#search.form-control(type="text" value=(search ? search : "") placeholder="title or author")
              = ' '
              a#fil.btn.btn-default.btn-sm(href="javascript:;") Filter
              = ' '
              a.btn.btn-default.btn-sm(href="/topic/list") Reset
      .table-responsive
        table.table-acdream.highlight
          tbody
            if (!topics || topics.length == 0)
              tr.odd
                td.error-text(colspan="3") No Topics are matched.
            else
              each p, i in topics
                - var img;
                if (I[p.user])
                  - img = '/img/avatar/'+p.user+'/4.'+I[p.user];
                else
                  - img = '/img/avatar/%3Ddefault%3D/4.jpeg';
                tr
                  td.avatar
                    img(title=p.user alt=p.user src=img)
                  td
                    .title
                      if (p.top)
                        span.label.label-warning 置顶
                      = ' '
                      a(href="/topic?tid="+p.id)= p.title
                      if (now - p.inDate < 86400000)
                        img.top(src="/img/new.gif")
                      if (p.lastReviewer && now - p.lastReviewTime < 28800000)
                        img.top(src="/img/hot.gif")
                    .footer
                      = '作者：'
                      a(href="/user/"+p.user)= p.user
                      if (p.lastReviewer)
                        = ' / 最新回复：'
                        a(href="/topic?tid="+p.id+"#"+p.lastComment)= p.lastReviewer + ' @ ' + getDate(p.lastReviewTime)
                  td.state= p.reviewsQty
              tfoot
                tr.odd
                  td(colspan="4")
                    #pager
                      include pager
                      +pager(page, n)
