- var add = (topic.cid > 0 && user && user.name == 'admin') ? true : false;
- var imgsrc;

mixin GetImageSrc(user)
  - imgsrc = IT[user] ? '/img/avatar/'+user+'/2.'+IT[user] : '/img/avatar/%3Ddefault%3D/2.jpeg';

mixin Reply(p, idx)
  +GetImageSrc(p.user)
  .reply(id=p.id style=(idx == 0 ? "border-top:0;" : ""))
    .rl
      img.img-60.img-round(alt="avatar" src=imgsrc)
    .rr
      .head
        a(href="/user/"+p.user title=UT[p.user] class="user user-"+UC[p.user])= p.user
        = ' '
        span.user-gray= '回复于' + getDate(p.inDate)
      .content
        != p.content

mixin Row(p)
  +GetImageSrc(p.user)
  tr
    td.cl
      div
        a(href="/user/"+p.user title=UT[p.user] class="user user-"+UC[p.user])= p.user
      div
        img.img-80.img-round(alt="avatar" src=imgsrc)
    td.cr
      .head(id=(p.title ? "" : p.id))
        - var op = '';
          if (p.top)
            span.label.label-warning 置顶
          = ' '
          if (p.title)
            span.title= p.title
          = ' '
        span.user-gray= '发表于' + getDate(p.inDate)
      .content
        != p.content
      if (!p.title && sub[p.id] && sub[p.id].length)
        .replies
          each c, i in sub[p.id]
            +Reply(c, i)

fieldset
  .block.block-info
    .heading
      a(href="/topic") 论坛主页
      = ' >> '
      | 话题详情
      if (user && (user.name == topic.user || user.name == 'admin'))
        a.img_link.edit.fr(title="编辑" href="/addtopic?tid="+topic.id)
    .block-content
      .table-responsive
        table.table.table-topic
          +Row(topic)
          if (comments && comments.length)
            each p in comments
              +Row(p)
        .heading(style="text-align:center;") 没有更多评论
    if (user)
      .topic_box.form-horizontal(style="min-height:400px;")
        .header 添加回复
        .inner_topic
          textarea#content
          div
            a#reply.uibtn(style="margin:10px 0;" href="javascript:;") 回复
            span#err.error-text
if (add)
  script(type="text/javascript").
    function bindAdd($add) {
      $add.click(function(){
        var $p = $(this);
        if ($p.hasClass('disabled')) {
          return false;
        }
        $p.addClass('disabled');
        $.ajax({
          type: 'POST',
          url: '/contest/addContestant',
          data: {
            tid: #{topic.id},
            cid: #{topic.cid},
            name: $p.attr('data-user'),
            fa: $p.attr('data-id')
          },
          dataType: 'text',
          error: function() {
            $p.removeClass('disabled');
            ShowMessage('无法连接到服务器！');
          }
        })
        .done(function(res){
          if (!res) {
            window.location.reload(true);
            return ;
          } else if (res == '1') {
            ShowMessage($p.attr('data-user')+'已是该比赛的参赛者，无需添加。');
          } else if (res == '3') {
            ShowMessage('系统错误！');
          }
          $p.removeClass('disabled');
        });
      });
    }
