- var img;
if (IT[topic.user])
  - img = '/img/avatar/'+topic.user+'/3.'+IT[topic.user];
else
  - img = '/img/avatar/%3Ddefault%3D/3.jpeg';

- var add = (topic.cid > 0 && user && user.name == 'admin') ? true : false;

fieldset
  div
    legend#onetopic(tid=topic.id) 论坛
  .content
    .topic_box
      .header
        if (user && (user.name == 'admin' || user.name == topic.user))
          a.img_link.edit.fr(style="margin-left:10px;" title="编辑" href="/addtopic?tid="+topic.id)
        span.fr.user.user-black= '浏览次数：'+topic.browseQty
        a(href="/topic") 论坛主页
        = ' >> '
        | 话题详情
      .inner_topic
        h3
          a.user(href="/user/"+topic.user)
            img.img_m.topic_img(title=topic.user alt=topic.user src=img)
          = ' '
          if (topic.top)
            span.put_top 置顶
          = ' '+topic.title
        hr
        != topic.content
        hr
        span.fr
          = 'Added by '
          a(href="/user/"+topic.user title=UT[topic.user] class="user user-"+UC[topic.user])= topic.user
          | .
        span.user-gray
          | 最后一次编辑是
          = ' '+getDate(topic.inDate)
    if (comments && comments.length)
      .topic_box
        .header
          span.user-green= N
          = ' 条回复'
        each p, i in comments
          if (IT[p.user])
            - img = '/img/avatar/'+p.user+'/4.'+IT[p.user];
          else
            - img = '/img/avatar/%3Ddefault%3D/4.jpeg';
          include comment
          - var fa = p.id;
          .reply_area(id=fa)
            +comment(true, null, user, p, img, i+1, getDate, UT, UC, add, topic.cid)
            if (sub[fa] && sub[fa].length)
              each p in sub[fa]
                if (IT[p.user])
                  - img = '/img/avatar/'+p.user+'/4.'+IT[p.user];
                else
                  - img = '/img/avatar/%3Ddefault%3D/4.jpeg';
                .reply_sub(id=p.id)
                  +comment(false, fa, user, p, img, i+1, getDate, UT, UC, add, topic.cid)
    if (user)
      .topic_box.form-horizontal(style="min-height:400px;")
        .header 添加回复
        .inner_topic
          textarea#content
          div
            a#reply.uibtn(style="margin:10px 0;" href="javascript:;") 回复
            span#err.error-text
if (add)
  script(type="text/javascript").
    function bindAdd($add) {
      $add.click(function(){
        var $p = $(this);
        if ($p.hasClass('disabled')) {
          return false;
        }
        $p.addClass('disabled');
        $.ajax({
          type: 'POST',
          url: '/contest/addContestant',
          data: {
            tid: #{topic.id},
            cid: #{topic.cid},
            name: $p.attr('data-user'),
            fa: $p.attr('data-id')
          },
          dataType: 'text',
          error: function() {
            $p.removeClass('disabled');
            ShowMessage('无法连接到服务器！');
          }
        })
        .done(function(res){
          if (!res) {
            window.location.reload(true);
            return ;
          } else if (res == '1') {
            ShowMessage($p.attr('data-user')+'已是该比赛的参赛者，无需添加。');
          } else if (res == '3') {
            ShowMessage('系统错误！');
          }
          $p.removeClass('disabled');
        });
      });
    }
