- var img = '/img/avatar/%3Ddefault%3D/1.jpeg';
if (u.imgType)
  - img = '/img/avatar/'+u.name+'/1.'+u.imgType;
fieldset
  .block.block-info
    .block-content
      .inner(style="padding:0 15px;")
        .row
          .col-md-6
            - var ut = UT(u.rating), uc = UC(u.rating);
            div(style="font-size:24px;margin-top:5px;")
              span(class="user user-"+uc title=ut+" "+u.name)= ut+' '+u.name
            if (user && user.name == 'admin')
              div(style="margin:10px 0;")
                a#addprob.btn.btn-default(style="margin:0 10px 0 0;" href="javascript:;")
                  if(u.addprob == 1)
                    | 回收
                  else
                    | 赋予
                  = ' '+u.name+' 加题权限'
                if (u.name == 'admin')
                  a#recal.btn.btn-default(style="margin:0 10px 0 0;" href="javascript:;") 重新统计所有用户提交数和AC数
                a#restore.btn.btn-default(style="margin:0;" href="javascript:;") 将 #{u.name} 的密码恢复默认
            div
              span.user-gray(title="nick name")= u.nick
            ul.user-info
              if(u.signature)
                li(style="word-break:break-all;")
                  img.icon(src="/img/sig.png")
                  | Signature: #{u.signature}
              if (user && user.name == u.name)
                li
                  img.icon(src="/img/settings.png")
                  a#set(href="javascript:;") Change settings
              if (u.name != 'admin')
                li
                  img.icon(src="/img/rank.png")
                  = 'Rank: '
                  span.user.user-green= u.rank
              if (u.lastRatedContest)
                li
                  img.icon(src="/img/rating.png")
                  = 'Rating: '
                  span(class="user user-"+uc)= u.rating
              li
                img.icon(src="/img/yes.png")
                = 'Solved: '
                a(href="/status?name="+u.name+"&result=2")= u.solved
              li
                img.icon(src="/img/submit.png")
                = 'Submissions: '
                a(href="/status?name="+u.name)= u.submit
              if(u.email)
                li
                  img.icon(src="/img/mail.png")
                  | Email: #{u.email}
              if(u.school)
                li
                  img.icon(src="/img/school.png")
                  | School: #{u.school}
              li
                img.icon(src="/img/add.png")
                = 'AddProblem: '
                if(u.addprob)
                  span.user.user-green YES
                else
                  span.error-text NO
              li Last Visit: #{getTime(u.visTime)}
              li Registered: #{getTime(u.regTime)}
          .col-md-6
            span.pull-right(style="margin:20px 15px 0 0;")
              img.img-250.img-round(alt="avatar" src=img)
              if (user && user.name === u.name)
                div
                  a(href="/avatar") Change Avatar
  .block.block-danger
    .block-content
      .inner(style="padding:0px 8px;")
        #chart
  mixin box(name, ary, info, flg)
    .block(class=flg ? "block-success" : "block-warning")
      .block-content
        .heading
          = 'List of '
          span.success-text= name
          = ' problems'
        .inner.prob_list
          if (ary.length == 0)
            span(class=flg ? "error-text" : "success-text")= info
          else
            each pid in ary 
              a.pid(href="/problem?pid="+pid)= pid
  +box("solved", A, "No problems has been solved :(", true)
  +box("unsolved", B, "No unsolved problems :)")
  if (u.name == 'admin')
    +box("hidden", H, "No hidden problems :)")
script(type="text/javascript")
  != 'var _username = "'+u.name+'";'
  != 'var _min_rating = ' + minRating + ';'
  != 'var _rated_record = ' + JSON.stringify(u.ratedRecord) + ';'
